<div class="grid-container">
  <div class="grid-item-cat">
    <mat-accordion class="custom-accordion">
      <mat-expansion-panel *ngFor="let faq of frequentlyAskedQuestions">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ faq.category }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list>
          <mat-chip-option style="margin: 2px;" *ngFor="let option of faq.option" (click)="faq.category === 'Horario' ? onSelectHorarioOption(option) : onSelectDiaOption(option)"
          color="warn"
          (click)="toggleOption(option)"
        >
            {{ option }}
          </mat-chip-option>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>    
  </div>
  <div class="separator"></div>
  <div class="grid-item-group">
    <div class="selected-options">
      <mat-list>
        <mat-chip *ngFor="let option of selectedOptions" color="warn">
          {{ option }}
          <button matChipRemove (click)="removeOption(option)">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-list>      
    </div>
    <div>
      <mat-grid-list [cols]="getGridCols()" [rowHeight]="'5:4'">
        <mat-grid-tile *ngFor="let category of categories" class="grid-item-group">
          <div class="card-container">
            <mat-card class="card">
              <div class="initials-circle">{{ getInitials(category.leader) }}</div>
              <div class="card-content">
                <div class="card-title">{{ category.leader }}</div>
                <div class="info">{{ category.address }}</div>
                <p class="info">Horario: {{ category.hour }}</p>
                <div class="info" style="font-weight: bold; margin-top: 10px;">{{ category.day }} - {{ category.typeConnection }}</div>
                <div class="button-join">
                  <button class="join" mat-raised-button [routerLink]="['/groups', category.id]">Unirse</button>
                </div>
              </div>
            </mat-card>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div> 
</div>
