.center-menu {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    background-color: #ffff;
    height: 100px !important;
  }
  
  .menu-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center !important;
    text-align: center !important;
    margin: 0 12% 0 11%;
    
    
  }
  
  .logo {
    margin-right: auto;
    margin-left: 10px;
  }

  
  .custom-link {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: "Rubik", Sans-serif !important;
    font-size: 18px;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    padding: 0px 0px 0px 0px;
  }
  
  .custom-link.active-link {
    color: #DD4124 !important;
  }
  
  .custom-link:hover {
    background-color: #ffff;
  }
  
  .spacer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DD4124;
    height: 20px !important;
  }
  
  .spacer-text {
    font-size: 18px;
    color: #ffff;
    font-weight: bold;
    margin: 10px;
  }
  
 /* footer */
 /* Estilos generales del footer */
footer {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Estilos para la lista de categorías */
.menu-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menu-item {
  list-style: none;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

/* Estilos para los iconos de categorías */
.menu-item i {
  margin-right: 5px;
}

/* Estilos para la lista de categorías seleccionadas */
.selected-categories {
  display: flex;
  gap: 2px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.selected-category {
  list-style: none;
  margin: 0px;
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.selected-category i {
  margin-right: 5px;
}

/* Estilos para el texto del footer */
.footer-text {
  margin-top: 20px;
  font-size: 14px;
  color: #000 !important;
}

.footer-text a {
  color: #999999;
  text-decoration: none;
  color: #000;
}

.footer-text a:hover {
  text-decoration: underline;
  color: #000;
}

.icon{
  margin: 5px;
}

.footer-border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.elementor-social-icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.elementor-social-icon {
  display: inline-block;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  color:  white;

}

.circle {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #DD4124 !important;
  text-align: center;
  line-height: 48px;
  margin-right: 8px;
}

.circle i {
  font-size: 20px;
}

.elementor-screen-only {
  display: none;
}
