.center-menu {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    background-color: #ffff;
    height: 100px !important;
  }
  
  .menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
  }  

  
  .logo {
    margin-right: auto;
    margin-left: 10px;
  }

  
  .custom-link {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 10px;
    font-family: "Rubik", Sans-serif !important;
    font-size: 18px;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    padding: 0px 0px 0px 0px;
  }
  
  .custom-link.active-link {
    color: #DD4124 !important;
  }
  
  .custom-link:hover {
    background-color: #ffff;
  }
  
  .spacer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DD4124;
    height: 20px !important;
  }
  
  .spacer-text {
    font-size: 18px;
    color: #ffff;
    font-weight: bold;
    margin: 10px;
  }
  
 /* footer */
 /* Estilos generales del footer */
footer {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menu-item {
  list-style: none;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}

/* Estilos para los iconos de categorías */
.menu-item i {
  margin-right: 5px;
}

.selected-category i {
  margin-right: 5px;
}

/* Estilos para el texto del footer */
.footer-text {
  margin-top: 20px;
  font-size: 14px;
  color: #000 !important;
}

.footer-text a {
  color: #999999;
  text-decoration: none;
  color: #000;
}

.footer-text a:hover {
  text-decoration: underline;
  color: #000;
}

.icon{
  margin: 5px;
}

.footer-border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.elementor-social-icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.elementor-social-icon {
  display: inline-block;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  color:  white;

}

.circle {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #DD4124 !important;
  text-align: center;
  line-height: 48px;
  margin-right: 8px;
}

.circle i {
  font-size: 20px;
}

.elementor-screen-only {
  display: none;
}

/* Estilos para el botón de menú */
.menu-toggle-button {
  display: none; /* Ocultar el botón en pantallas más grandes */
}

/* Estilos para el menú desplegable en dispositivos móviles */
.mobile-menu {
  display: none ; 
}

/* Estilos para tamaños de pantalla más pequeños */
@media (max-width: 768px) {
  .menu-item ,.login-wrapper {
    display: none; /* Ocultar elementos de menú en pantallas más pequeñas */
  }

  .logo {
    right: 0; /* Alineamos el menú a la derecha */
    top: auto; /* Anulamos la posición vertical para móviles */
    text-align: center; /* Ocultar elementos de menú en pantallas más pequeñas */
  }

  .mobile-menu {
    display: block;
    position: fixed;
    right: 0; /* Alineamos el menú a la derecha */
    background-color: #fff; /* Color de fondo para el menú */
    margin: 5%;
  }
}

/* Estilos para resoluciones de tablet en modo retrato */
@media (min-width: 600px) and (max-width: 1024px) {

  .menu-item ,.login-wrapper {
    display: none; /* Ocultar elementos de menú en pantallas más pequeñas */
  }

  .logo {
    right: 0; /* Alineamos el menú a la derecha */
    top: auto; /* Anulamos la posición vertical para móviles */
    text-align: center; /* Ocultar elementos de menú en pantallas más pequeñas */
  }

  .mobile-menu {
    display: block;
    position: fixed;
    right: 0; /* Alineamos el menú a la derecha */
    background-color: #fff; /* Color de fondo para el menú */
    margin: 5%;
  }
}

/* Estilos para resoluciones de tablet en modo paisaje */
@media (min-width: 1025px) and (max-width: 1500px) {

  .menu-item ,.login-wrapper {
    display: none;
  }

  .logo {
    right: 0; /* Alineamos el menú a la derecha */
    top: auto; /* Anulamos la posición vertical para móviles */
    text-align: center; /* Ocultar elementos de menú en pantallas más pequeñas */
  }

  .mobile-menu {
    display: block;
    position: fixed;
    right: 0; /* Alineamos el menú a la derecha */
    background-color: #fff; /* Color de fondo para el menú */
    margin: 5%;
  }
}