<mat-grid-list [cols]="getGridCols()" *ngFor="let detail of details">

    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-header>
          <div class="circle-container">
            <div class="initials">CF</div>
          </div>
        </mat-card-header>
        <mat-card-content>
          <h1>{{ details[0].leader }}</h1>
          <p>(Líder)</p>
        </mat-card-content>
      </mat-card>
  </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card">  
        <mat-card-title>Detalles</mat-card-title>
        <mat-card-content>
          <div class="header-content">
            <mat-icon matSuffix>home</mat-icon>
            <h6><a [href]="'https://www.google.com/maps/search/' + detail.address" target="_blank">{{ detail.address }}</a></h6>
          </div>
          <div class="header-content">
            <mat-icon matSuffix>person</mat-icon>
            <h6>{{ details[0].typeConnection }}</h6>
          </div>
          <div class="header-content">
            <mat-icon matSuffix>calendar_today</mat-icon>
            <h6> {{ daysOfWeek[details[0].day] }} - {{ detail.hour }} ({{ details[0].typeConnection }})</h6>  
          </div>
          <div class="header-content">
            <mat-icon matSuffix>receipt</mat-icon>
            <h6>{{ details[0].type }}</h6>
          </div>
        </mat-card-content>
      </mat-card>
  </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="example-card">
        <mat-card-content>
          <div>
            <button mat-raised-button class="animated-button" [routerLink]="['/groups/',details[0].id, 'register']">UNIRSE A ESTE GRUPO</button>
          </div>
          <div>
            <br>
            <p>Comparte bendición</p>
            <button mat-raised-button class="share-button" [matMenuTriggerFor]="shared" aria-label="matshared"><i class="fa fa-share fa-2xl"></i></button>
            <mat-menu #shared="matMenu">
              <button mat-menu-item (click)="copyLinkToClipboard(getCurrentUrl())">Copiar enlace</button>
            </mat-menu>      
          </div>
        </mat-card-content>
      </mat-card>
  </mat-grid-tile>

  
</mat-grid-list>