<mat-grid-list cols="3" rowHeight="400px" class="custom-grid-list">
    <mat-grid-tile colspan="1" class="card">
      <div class="user-header">
        <div class="circle-container">
            <div class="initials">CF</div>
        </div>          
        <h1>Celula Freddy Cruz</h1>
      </div>
    </mat-grid-tile>
  
    <mat-grid-tile colspan="1" class="card">
      <div class="info-container">
        <h1>Adultos - Casados</h1>
        <h2>Miercoles a las  21:00 PM</h2>
      </div>
    </mat-grid-tile>
  
    <mat-grid-tile colspan="1" class="card">
      <div class="button-container">
        <button mat-raised-button class="animated-button">UNIRSE</button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  