.card {
  background-color: white;
  color: black;
  text-align: center;
}

.user-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(25deg, #ff0000, black);
  color: white;
  font-size: 40px;
  font-weight: bold;
}


.initials {
  text-transform: uppercase;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.user-header h1 {
  margin-top: 10px;
  font-weight: bold;
}

.info-container {
  margin-top: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: red;
  font-size: 80px !important;
  margin-bottom: 20px;
}

.animated-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red !important;
  color: white !important;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 28px !important;
  animation: pulse 2s ease-in-out infinite;
  font-weight: bold !important;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

h1, h2, h3{
  font-weight: bold;
}

/* Para dispositivos pequeños (e.g. phones) */
@media only screen and (max-width: 600px) {
  .grid-list {
    cols: 1; /* Cambiar a una sola columna en dispositivos pequeños */
  }

  .circle-container {
    width: 80px;
    height: 80px;
    font-size: 30px;
  }

  .profile-image {
    width: 60px;
    height: 60px;
  }

  .user-header h1 {
    font-size: 18px;
  }

  .info-container h1 {
    font-size: 20px;
  }

  .info-container p {
    font-size: 14px;
  }

  .button-container {
    font-size: 30px;
  }

  .animated-button {
    width: 80px;
    height: 80px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .user-header {
    flex-direction: column-reverse;
    text-align: center;
  }

  .circle-container {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .button-container {
    margin-top: 20px;
  }
}

/* Para dispositivos grandes (e.g. laptops, desktops) */
@media only screen and (min-width: 1025px) {
  .circle-container {
    width: 150px;
    height: 150px;
    font-size: 60px;
  }

  .profile-image {
    width: 120px;
    height: 120px;
  }

  .user-header h1 {
    font-size: 30px;
  }

  .info-container h1 {
    font-size: 30px;
  }

  .info-container p {
    font-size: 18px;
  }

  .button-container {
    font-size: 80px;
  }

  .animated-button {
    width: 120px;
    height: 120px;
    font-size: 40px;
  }
}

